*.egg
*.egg-info
*.graffle
*.kate-swp
*.mo
*.py?
*.pyc
*~
._*
.idea
*.swp
.DS_Store
.coverage
.installed.cfg
.mr.developer.cfg
.Python
inituser
bin/
buildout-cache/
build/
collective/easyform/tests/*.tar.gz
develop-eggs/
dist
docs/Makefile
docs/doctrees
docs/html
docs/make.bat
etc/
extras/
htmlcov/
include/
/lib*
local/
parts/
pip-selfcheck.json
share/
var/
pyvenv.cfg
node_modules/
.env

.python-version
annotate.txt
venv/
.tox/
reports/
.coverage*
local.cfg
src-mrd
