[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/plone-3.x.cfg

[instance]
eggs +=
    Pillow
    eea.facetednavigation <= 3.99
    eea.faceted.vocabularies <= 3.99
    eea.jquery <= 3.99

zcml +=
    eea.facetednavigation-meta
    eea.facetednavigation-overrides
    eea.facetednavigation
