/* jquery ui overrides
====================== */
.ui-icon-show {
  background-image: url(../../++resource++faceted_images/show.png) ! important;
  background-position: 0 0;
}

.ui-icon-hide {
  background-image: url(../../++resource++faceted_images/hide.png) ! important;
  background-position: 0 0;
}

.ui-widget-header:hover {
  cursor: move;
}

.ui-icon:hover {
  cursor: pointer;
}

.ui-sortable-helper {
  width: 20em ! important
}

.ui-dialog {
  width: 50em ! important;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
}

/* Archetypes
============= */
.formHelp {
  display: block;
}

#archetypes-fieldname-title input{
  width: auto;
}

#archetypes-fieldname-vocabulary select {
  width: 25em;
}

/* Common
========= */
.faceted-results {
  border: 1px dotted #ccc;
}

dd {
  margin-left: 0px;
  padding-bottom: 1em;
}

table.listing {
  width: 100%;
}

/* Loading
========== */
.faceted_loading {
  text-align: center;
}

.faceted-loading-overlay {
  background: none ! important;
  border: none ! important;
  width: 120px ! important;
}

.faceted-loading-overlay .ui-dialog-titlebar {
  display: none ! important;
}

.faceted-loading-overlay .ui-resizable-handle {
  display: none ! important;
}

/* Widgets
========== */
#content .faceted-widget fieldset, .faceted-widget fieldset {
  border: none;
  padding: 0 1em 1em;
  margin: 1em 0;
}

.faceted-widget {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888;
  margin: 2em 0.5em;
}

.faceted-widget legend {
  width: 100%;
}

.ui-widget-header {
  margin-bottom: 1em;
  text-align: left;
  padding: 1em;
  font-size: 120%;
  font-weight: lighter;
  background: #9acee6;
  border: none;
}

.ui-draggable .ui-dialog-titlebar {
  background: transparent;
  border-bottom: 1px dotted #E6E6E6;
  border-radius: initial;
}

.faceted-widget .ui-widget-header {
  margin-top: -0.9em;
  margin-left: -0.9em;
  margin-right: -0.9em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.faceted-section-tabs ul.formTabs,
.faceted-widget-edit ul.formTabs {
  background-color: #E6E6E6;
  border: 0.3em solid #E6E6E6;
  display: block;
  border-style: solid solid none solid;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  font-size: 125%;
  font-weight: lighter
}

.faceted-section-tabs li.formTab,
.faceted-widget-edit li.formTab {
    display: inline;
    margin-right:0.25em;
}

.faceted-section-tabs li.formTab a,
.faceted-widget-edit li.formTab a {
    display: inline-block;
}

.faceted-section-tabs li.formTab a,
.faceted-widget-edit li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}

.faceted-section-tabs li.formTab a.selected,
.faceted-section-tabs li.formTab a:hover,
.faceted-widget-edit li.formTab a.current,
.faceted-widget-edit li.formTab a:hover {
    background: White;
    color: Black;
}

.faceted-widget-edit .panes {
 padding: 1em;
}

.faceted-widget-hidden div.ui-widget-header {
  background: #E6E6E6 ! important;
}

.faceted-widget-hidden fieldset {
  border: 1px solid #ccc;
}

#faceted-edit-widgets-ajax {
  text-align: right;
  clear: both;
  overflow: hidden;
  margin-top: 1em;
}

#faceted-edit-widgets-ajax input {
  margin-right: 0.5em;
}

#faceted-page-title {
  padding-right: 0px;
}

/* Areas
*/
#center-content-area {
  margin: 0 25em 0 25em;
}

/* Columns
========== */
.faceted-column {
  border-color: #ccc;
  border-style: dotted;
  border-width: 1px;
}

.faceted-empty-column {
  font-size: 200%;
  opacity: 0.8;
  color: #9acee6;
  text-align: center;
  padding-bottom: 0.5em;
}

/* Top
*/
#faceted-top-column::before {
  content: "Top widgets";
  text-align: center;
  width: 100%;
  color: #9acee6;
  float: right;
  font-weight: lighter;
  margin-top: 1em;
  height: 0;
}

/* Left
*/
#faceted-left-column::before {
  content: "Left widgets";
  text-align: center;
  width: 100%;
  color: #9acee6;
  float: right;
  font-weight: lighter;
  margin-top: 1em;
  height: 0;
}

/* Right
*/
#faceted-right-column::before {
  content: "Right widgets";
  text-align: center;
  width: 100%;
  color: #9acee6;
  float: right;
  font-weight: lighter;
  margin-top: 1em;
  height: 0;
}

/* Center top
*/
#faceted-center-column::before {
  content: "Center top";
  text-align: center;
  width: 100%;
  color: #9acee6;
  float: right;
  font-weight: lighter;
  margin-top: 1em;
  height: 0;
}

/* Center bottom
*/
#faceted-bottomcenter-column::before {
  content: "Center bottom";
  text-align: center;
  width: 100%;
  color: #9acee6;
  float: right;
  font-weight: lighter;
  margin-top: 1em;
  height: 0;
}

/* Bottom
*/
#faceted-bottom-column::before {
  content: "Bottom widgets";
  text-align: center;
  width: 100%;
  color: #9acee6;
  float: right;
  font-weight: lighter;
  margin-top: 1em;
  height: 0;
}

/* Sections
=========== */

/* Default
*/
.faceted-default-widgets {
}

/* Advanced
*/
.faceted-advanced-widgets {
}

/* Tabs
*/
.faceted-section-tabs {
  margin-top: 1em;
  padding: 0px;
}

.faceted-section-tabs .ui-tabs-nav {
  padding: 0px;
}

.faceted-section-tabs ul li a {
  border-bottom: 0px ! important;
  cursor: pointer;
  color: #205C90;
}

.faceted-section-tabs .ui-state-highlight {
  height: 2em ! important;
  border: none ! important;
  width: 90%;
  display: inline;
}

.faceted-section-tabs ul {
  list-style-type: none ! important;
  margin: 0px ! important;
}

/* Buttons
========== */

.faceted-add-button {
  padding: 1em;
}

.faceted-add-button span {
  border-color: #007bb1;
  border-style: dotted;
  border-width: 1px;
}

#main-container .faceted-add-button span {
  padding: 0.6em;
}

/* Errors
=========  */
#faceted-edit-widgets .faceted-widget-error {
  display: block;
}

#faceted-edit-widgets .faceted-widget-error div {
  text-align: center;
  color: red;
}

#faceted-edit-widgets .faceted-widget-error dd {
  margin-left: 2em;
  padding-bottom:0;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 1em;
  background: transparent;
  border: none;
}

#faceted-portal-status-message {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: #E6E6E6;
  border: 1px solid #ccc;
  border-bottom: none;
  text-align: center !important;
  width: 100% !important;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 80%;
  padding: 0.5em;
}

#faceted-portal-status-message .ui-icon {
  margin: 0 !important;
}

#faceted-portal-status-message dt {
  display: none;
}
