/* jquery ui overrides
====================== */
.ui-icon-show {
  background-image: url(../../++resource++faceted_images/show.png) ! important;
  background-position: 0 0;
}

.ui-icon-hide {
  background-image: url(../../++resource++faceted_images/hide.png) ! important;
  background-position: 0 0;
}

.ui-widget-header:hover {
  cursor: move;
}

.ui-icon:hover {
  cursor: pointer;
}

.ui-sortable-helper {
  width: 20em ! important
}

.ui-dialog {
  width: 50em ! important;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
}

/* Archetypes
============= */
.formHelp {
  display: block;
}

#archetypes-fieldname-title input{
  width: auto;
}

#archetypes-fieldname-vocabulary select {
  width: 25em;
}

/* Common
========= */
.faceted-results {
  border: 1px dotted #ccc;
}

dd {
  margin-left: 0px;
  padding-bottom: 1em;
}

table.listing {
  width: 100%;
}

/* Loading
========== */
.faceted_loading {
  text-align: center;
}

.faceted-loading-overlay {
  background: none ! important;
  border: none ! important;
  width: 120px ! important;
}

.faceted-loading-overlay .ui-dialog-titlebar {
  display: none ! important;
}

.faceted-loading-overlay .ui-resizable-handle {
  display: none ! important;
}

/* Widgets
========== */
#content .faceted-widget fieldset, .faceted-widget fieldset {
  border: none;
}

.faceted-widget {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888;
  margin: 2em 0.5em;
}

.faceted-widget legend {
  width: 100%;
}

.ui-widget-header {
  margin-bottom: 1em;
  margin-right: -0.5em;
  margin-left: -0.5em;
  margin-top: 5px;
  text-align: left;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  background: #CDE2A7;
  border: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
  background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
}

.faceted-widget .ui-widget-header {
  margin-top: -0.9em;
  margin-left: -0.9em;
  margin-right: -0.9em;
}

.faceted-widget-edit ul.formTabs {
  background-color: #ddd;
  border: 0.3em solid #ddd;
  display: block;
  border-style: solid solid none solid;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

.faceted-widget-edit li.formTab {
    display: inline;
    margin-right:0.25em;
}

.faceted-widget-edit li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}

.faceted-widget-edit li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}

.faceted-widget-edit li.formTab a.current {
    font-weight: bold;
}

.faceted-widget-edit li.formTab a.current,
.faceted-widget-edit li.formTab a:hover {
    background: White;
    color: Black;
}

.faceted-widget-edit .panes {
 padding: 1em;
}

.faceted-widget-hidden div.ui-widget-header {
  background: #E6E6E6 ! important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E6E6E6)) ! important;
  background-image: -webkit-linear-gradient(center top , #FFFFFF, #E6E6E6) ! important;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6) ! important;
  background-image: -ms-linear-gradient(center top , #FFFFFF, #E6E6E6) ! important;
  background-image: -o-linear-gradient(center top , #FFFFFF, #E6E6E6) ! important;
}

.faceted-widget-hidden fieldset {
  border: 1px solid #ccc;
}

#faceted-edit-widgets-ajax {
  text-align: right;
  clear: both;
  margin-top: 1em;
}

#faceted-edit-widgets-ajax input {
  margin-right: 0.5em;
}

#faceted-page-title {
  padding-right: 0px;
}

/* Areas
*/
#center-content-area {
  margin: 0 25em 0 25em;
}

/* Columns
========== */
.faceted-column {
  border-color: #ccc;
  border-style: dotted;
  border-width: 1px;
}

.faceted-empty-column {
  font-size: 200%;
  opacity: 0.8;
  color: #CDE2A7;
  text-align: center;
  padding-bottom: 0.5em;
}

/* Top
*/
#faceted-top-column {
  background: transparent url(../../++resource++faceted_images/top-widgets.png) no-repeat;
  background-position: center top;
  border-width: 0px 1px 1px 1px;
  padding-left: 2px;
}

/* Left
*/
#faceted-left-column {
  background: transparent url(../../++resource++faceted_images/left-widgets.png) no-repeat;
  background-position: center top;
}

/* Right
*/
#faceted-right-column {
  background: transparent url(../../++resource++faceted_images/right-widgets.png) no-repeat;
  background-position: center top;
}

/* Center top
*/
#faceted-center-column {
  background: transparent url(../../++resource++faceted_images/center-widgets.png) no-repeat;
  background-position: center top;
}

/* Center bottom
*/
#faceted-bottomcenter-column {
  background: transparent url(../../++resource++faceted_images/bottomcenter-widgets.png) no-repeat;
  background-position: center top;
}

/* Bottom
*/
#faceted-bottom-column {
  background: transparent url(../../++resource++faceted_images/bottom-widgets.png) no-repeat;
  background-position: center top;
  clear: both;
}

/* Sections
=========== */

/* Default
*/
.faceted-default-widgets {
}

/* Advanced
*/
.faceted-advanced-widgets {
}

/* Tabs
*/
.faceted-section-tabs {
  margin-top: 1em;
  padding: 0px;
}

.faceted-section-tabs .ui-tabs-nav {
  padding: 0px;
}

.faceted-section-tabs ul li a {
  border-bottom: 0px ! important;
  cursor: pointer;
  color: #205C90;
}

.faceted-section-tabs .ui-state-highlight {
  height: 2em ! important;
  border: none ! important;
  width: 90%;
  display: inline;
}

.faceted-section-tabs ul {
  list-style-type: none ! important;
  margin: 0px ! important;
}

/* Buttons
========== */

.faceted-add-button {
  padding: 1em;
}

.faceted-add-button span {
  border-color: #95b229;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
}

.faceted-add-button .ui-icon {
  background-image: url(../../++resource++faceted_images/ui-icons_222222_256x240-green.png) ! important;
}

/* Errors
=========  */
.faceted-widget-error {
  display: block;
}

.faceted-widget-error div {
  text-align: center;
  color: red;
}

.faceted-widget-error dd {
  margin-left: 2em;
  padding-bottom:0;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 1em;
}
