/* Fix jQuery.ui images path
*/
.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_222222_256x240.png);
  cursor: pointer;
}

.ui-state-default .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_888888_256x240.png);
  cursor: pointer;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-active .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_454545_256x240.png);
  cursor: pointer;
}
.ui-state-highlight .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_2e83ff_256x240.png);
  cursor: pointer;
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-icons_cd0a0a_256x240.png);
  cursor: pointer;
}

.ui-widget-content {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_flat_75_ffffff_40x100.png);
}

.ui-widget-header {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png);
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_75_dadada_1x400.png);
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_65_ffffff_1x400.png);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_55_fbf9ee_1x400.png);
}

.ui-state-error, .ui-widget-content .ui-state-error {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_glass_95_fef1ec_1x400.png);
}

.ui-widget-overlay {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_flat_0_aaaaaa_40x100.png);
}

.ui-widget-shadow {
  background-image: url(../../++resource++jquery.ui.theme/images/ui-bg_flat_0_aaaaaa_40x100.png);
}
