/* Stylesheet for the 'eea facetednavigation' */
/*
*/
.faceted-noborder {
  background:transparent none repeat scroll 0 0;
  border: medium none;
}

.faceted-form {
  padding: 1em 0 0 0;
  margin: 0;
  width: auto;
}

.faceted-widget {
}

/* Areas
*/
#top-area {
}

#center-and-left-area {
  float: left;
  margin-right: -25em;
  width: 100%;
}

#right-area {
  float: right;
  width: 25em;
  overflow: hidden;
}

#center-area {
  float: right;
  margin-left: -25em;
  width: 100%;
}

#left-area {
  float: left;
  width: 25em;
  overflow: hidden;
}

#center-top-area {
}

#center-bottom-area {
}

#bottom-area {
  clear: both;
}

.right-area-js {
  margin-right: 25em;
}

.left-area-js {
  margin-left: 25em;
}

/* End Areas */

.faceted-clear {
  clear: both;
}

.faceted-left-column div.faceted-text-widget input[type=submit] {
  float: right;
}

.faceted-right-column div.faceted-text-widget input[type=submit] {
  float: right;
}

.faceted-left-column div.faceted-text-widget input[type=text] {
  width: 99%;
}

.faceted-right-column div.faceted-text-widget input[type=text] {
  width: 99%;
}

.faceted-left-column div.faceted-select-widget select{
  width: 100%;
}

.faceted-right-column div.faceted-select-widget select{
  width: 100%;
}

.faceted-left-column div.faceted-resultsperpage-widget select{
  width: 100%;
}

.faceted-right-column div.faceted-resultsperpage-widget select{
  width: 100%;
}

.faceted-left-column div.faceted-sorting-widget select{
  width: 100%;
}

.faceted-right-column div.faceted-sorting-widget select{
  width: 100%;
}

#faceted-form fieldset {
  margin: 0.5em;
  padding: 1em 0.5em 0.5em 0.5em;
  border: 1px solid #ccc;
}

.widget-fieldset legend {
  margin-bottom: 0.5em;
  font-weight: bold;
}


/* Loading image
---------------- */

.faceted_loading {
  text-align: center;
}

/* Sections
=========== */

.faceted-section-header {
}

#faceted-form .ui-widget {
  font-size: 1em;
}

#faceted-form .ui-helper-reset {
  font-size: 1em;
}

#faceted-form .ui-accordion .ui-accordion-content {
  padding: 0px;
  overflow: hidden;
  border-width: 0;
  border-style: none;
}

/* Inactive state
*/
#faceted-form .ui-accordion .ui-state-default {
  border: none;
  background: none;
  background-color: #95b229;
  margin: 0 0.5em;
}

#faceted-form .ui-accordion .ui-state-default a {
  color: #ffffff;
  font-weight: bold;
}

#faceted-form .ui-accordion .ui-state-default a:hover {
  border: none;
  color: #e9efcd;
}

/* Active state
*/
#faceted-form .ui-accordion .ui-state-active {
  border: none;
  background: none;
  background-color: #e9efcd;
  margin: 0 0.5em;
}

#faceted-form .ui-accordion .ui-state-active a{
  color: #8e004d;
  font-weight: bold;
}

#faceted-form .ui-accordion .ui-state-active a:hover{
  border: none;
  cursor: text;
}

/* Lock - Unlock
*/
.faceted-widget-locked legend{
  color: #CCC;
}

.faceted-lock-overlay {
  background: none;
}

.faceted-widget-loading {
  background-image:url(../../++resource++faceted_images/ajax-loader-small.gif);
  background-position:95% 1.5em;
  background-repeat:no-repeat;
}

/* Errors
========= */
.faceted-widget-error {
  display: none;
}

#faceted-form .faceted-sections-buttons {
  float: right;
  margin-right: 0.5em;
}

#faceted-form .faceted-sections-buttons a {
  display: none;
  color: #95B229;
}

.eea-preview-items:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


.icon-faceted_settings:before {
  content: '\e812';
}
