/* Stylesheet for the 'eea facetednavigation' */
/*
*/
.faceted-noborder {
  background:transparent none repeat scroll 0 0;
  border: medium none;
}

.faceted-form {
  padding: 1em 0 0 0;
  margin: 0;
  width: auto;
}

/* Areas
*/

#center-and-left-area {
  float: left;
  margin-right: -25em;
  width: 100%;
}

#right-area {
  float: right;
  width: 25em;
}

#center-area {
  float: right;
  margin-left: -25em;
  width: 100%;
}

#left-area {
  float: left;
  width: 25em;
}

#bottom-area {
  clear: both;
}

.right-area-js {
  margin-right: 25em;
}

.left-area-js {
  margin-left: 25em;
}

/* End Areas */

.faceted-clear {
  clear: both;
}

.faceted-left-column div.faceted-text-widget input[type=submit] {
  float: right;
}

.faceted-right-column div.faceted-text-widget input[type=submit] {
  float: right;
}

.faceted-left-column div.faceted-text-widget input[type=text] {
  width: 99%;
}

.faceted-right-column div.faceted-text-widget input[type=text] {
  width: 99%;
}

.faceted-left-column div.faceted-select-widget select{
  width: 100%;
}

.faceted-right-column div.faceted-select-widget select{
  width: 100%;
}

.faceted-left-column div.faceted-resultsperpage-widget select{
  width: 100%;
}

.faceted-right-column div.faceted-resultsperpage-widget select{
  width: 100%;
}

.faceted-left-column div.faceted-sorting-widget select{
  width: 100%;
}

.faceted-right-column div.faceted-sorting-widget select{
  width: 100%;
}

#faceted-form fieldset {
  margin: 0.5em;
  padding: 1em 0.5em 0.5em 0.5em;
  border: 1px solid #ccc;
}

.widget-fieldset legend {
  margin-bottom: 0.5em;
  font-weight: bold;
}


/* Loading image
---------------- */

.faceted_loading {
  background: url(../../++resource++faceted_images/ajax-loader.gif) no-repeat 50% 1.5em;
  height: 200px;
}

/* Sections
=========== */

.faceted-section-header {
}

#faceted-form .ui-widget {
  font-size: 1em;
}

#faceted-form .ui-helper-reset {
  font-size: 1em;
}

#faceted-form .ui-accordion .ui-accordion-content {
  padding: 0;
  overflow: hidden;
  border: 0 none;
}

/* Inactive state
*/
#faceted-form .ui-accordion .ui-state-default {
  border: none;
  background: #007bb1 none;
  margin: 0 0.5em;
}

#faceted-form .ui-accordion .ui-state-default a {
  color: #ffffff;
  font-weight: bold;
}

#faceted-form .ui-accordion .ui-state-default a:hover {
  border: none;
  color: #007bb1;
}

/* Active state
*/
#faceted-form .ui-accordion .ui-state-active {
  border: none;
  background: #007bb1 none;
  margin: 0 0.5em;
}

#faceted-form .ui-accordion .ui-state-active a {
  color: #8e004d;
  font-weight: bold;
}

#faceted-form .ui-accordion .ui-state-active a:hover{
  border: none;
  cursor: text;
}

/* Lock - Unlock
*/
.faceted-widget-locked legend {
  color: #CCC;
}

.faceted-lock-overlay {
  background: none;
}

.faceted-widget-loading {
  background: url(../../++resource++faceted_images/ajax-loader-small.gif) no-repeat 95% 1.5em;
}

/* Errors
========= */
.faceted-widget-error {
  display: none;
}

#faceted-form .faceted-sections-buttons {
  float: right;
  margin-right: 0.5em;
}

#faceted-form .faceted-sections-buttons a {
  display: none;
  color: #007bb1;
}

.eea-preview-items .photoAlbumEntryWrapper {
  display: block;
}

.eea-preview-items .photoAlbumEntryTitle {
  display: block;
  padding: 0.5em;
}

.eea-preview-items:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.icon-faceted_settings:before {
  content: '\e812';
}

.table_faceted_no_results {
  display: block;
  text-align: center;
  margin-top: 2em;
  color: #b2b2b2;
}

#content-core .faceted-sections-buttons a,
.faceted-sections-buttons a {
  border-bottom: none;
}
