.faceted-daterange-widget-form {
    display: grid;
    grid-template-columns: auto auto;
}

.faceted-daterange-widget-form div label {
    display: block;
}

.faceted-daterange-widget-form input {
    width: 100%;
}
