.faceted-select-item-disabled {
  color: gray;
}

.faceted-zero-count-hidden .faceted-select-item-disabled {
  display: none;
}

.faceted-select-widget label.select-field {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
