.faceted-multiselect-item-disabled {
  color: gray;
}

.faceted-zero-count-hidden .faceted-multiselect-item-disabled {
  display: none;
}

.faceted-multiselect-widget label.multiselect-field {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.faceted_multiselect {
  width: 100%;
}

.faceted-multiselect-widget .faceted-operator {
  margin-top: 0;
}
