/* BACKGROUND */
.tree-green .ltr, .tree-green .rtl { background:url("bg.jpg") left top repeat; min-width:100%; _width:100%; margin-left:0; margin-right:0; display:table; }
.tree-green .ltr > li.leaf, .tree-green .rtl > li.leaf { background-image:none; }

/* LOCKED */
.tree-green .locked li a { color:gray; }
/* DOTS */
.tree-green ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); _background-image:url("dot_for_ie.gif"); *background-image:url("dot_for_ie.gif"); }
.tree-green li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("icons.png"); }
/* NO DOTS */
.tree-green .no_dots, .tree-green .no_dots ul { background:transparent; }
.tree-green .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-green li.open { background:url("icons.png") -32px -48px no-repeat; }
.tree-green li.closed, #jstree-dragged.tree-green li li.open { background:url("icons.png") -48px -32px no-repeat; }
#jstree-marker { background-image:url("icons.png"); }
/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-green li a, .tree-green li span { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tree-green li a:hover, .tree-green li a.hover, .tree-green li span { color: #2A6495; font-weight: bold; border:1px solid #d8f0fa; padding:0px 3px 0px 3px; }
.tree-green li a.clicked, .tree-green li a.clicked:hover, .tree-green li span.clicked { color: #95b229; font-weight: bold; border:1px solid #99defd; padding:0px 3px 0px 3px; }
/* ICONS */
.tree-green ins { background-image:url("icons.png"); background-position:0 0; background-repeat:no-repeat; }
.tree-green ul li a.loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.tree-green li a ins.forbidden { background-position:-16px -16px; }
.tree-green .locked li a ins { background-position:0 -48px; }
.tree-green li span ins { background-position:-16px 0; }
#jstree-dragged.tree-green ins { background:url("icons.png") -16px -32px no-repeat; }
#jstree-dragged.tree-green ins.forbidden { background:url("icons.png") -16px -16px no-repeat; }

/* CONTEXT MENU */
.tree-green-context a ins { background-image:url("icons.png"); background-repeat:no-repeat; background-position:-64px -64px; }
.tree-green-context a ins.create { background-position:0 -16px; }
.tree-green-context a ins.rename { background-position:-16px 0px; }
.tree-green-context a ins.remove { background-position:0 -32px; }
.tree-green li a:visited {color: #2A6495 ! important};
