.faceted-autocomplete-widget label.text-field {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
#content ul.select2-choices {
    margin-left: 0;
}
.select2-container-multi .select2-choices .select2-search-field input {
    min-width: 100px;
}
