[buildout]
parts =
    instance

extends = versions.cfg

find-links =
    http://dist.repoze.org/
    http://effbot.org/downloads

[instance]
user = admin:admin

recipe = plone.recipe.zope2instance
eggs =
    Products.DocFinderTab
    collective.portlet.debuginfo
    plone.reload
    Pillow
    Plone
    eea.facetednavigation

zcml =
    collective.portlet.debuginfo
    plone.reload
    eea.facetednavigation-meta
    eea.facetednavigation-overrides
    eea.facetednavigation
#   If you don't want to have default ATContentTypes faceted navigable
#   include eea.facetednavigation-minimal instead of eea.facetednavigation
#   eea.facetednavigation-minimal

