[buildout]
parts =
    test
    instance
    omelette
    i18ndude
    i18nize

extends = versions.cfg

find-links =
    http://dist.repoze.org/
    http://effbot.org/downloads

extensions =
    mr.developer

sources-dir = ${buildout:directory}/src

auto-checkout = *
always-checkout = force

eggs =
    Products.DocFinderTab
#    collective.portlet.debuginfo
    plone.reload
    Pillow
    Plone
    eea.facetednavigation

zcml =
#    collective.portlet.debuginfo
    plone.reload
    eea.facetednavigation-meta
    eea.facetednavigation-overrides
    eea.facetednavigation
#   If you don't want to have default ATContentTypes faceted navigable
#   include eea.facetednavigation-minimal instead of eea.facetednavigation
#   eea.facetednavigation-minimal

#   From eea.facetednavigation 4.2 you can dynamically register custom faceted views for
#   results. See an example in eea.facetednavigation.views.example
    eea.facetednavigation.views.example

[sources]
eea.facetednavigation        = git https://github.com/collective/eea.facetednavigation.git
eea.faceted.vocabularies     = git https://github.com/collective/eea.faceted.vocabularies.git
eea.jquery                   = git https://github.com/collective/eea.jquery.git

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
zcml =
    ${instance:zcml}
defaults = []


[instance]
user = admin:admin
recipe = plone.recipe.zope2instance
eggs = ${buildout:eggs}
zcml = ${buildout:zcml}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[i18ndude]
recipe = zc.recipe.egg:scripts
eggs = i18ndude

[i18nize]
recipe = collective.recipe.template
input = ${buildout:directory}/i18nize.in
output = ${buildout:bin-directory}/i18nize
mode = 775
dollar = $
domain = eea
packagepath = ${buildout:sources-dir}/eea.facetednavigation/eea/facetednavigation
languages = en de it es pl fr
