.faceted-date-widget form {
  margin: 2em;
  margin-top: 0;
}

.faceted-date-widget-form .ui-slider span.ui-slider-label {
  position:relative;
}

.faceted-date-widget-form .ui-state-default,
.faceted-date-widget-form .ui-widget-content .ui-state-default {
  background-image: none;
  background-color: #e9efcd;
  border-color: #95b229;
}

#faceted-edit-widgets .faceted-date-widget-form .ui-widget-content .ui-state-default {
    margin: inherit;
}

.faceted-date-widget-form .ui-widget-header {
  background-image: none;
  background-color: #e9efcd;
  padding-bottom: 0;
}

.faceted-date-widget-form .ui-widget-header {
 margin-top: 0em;
}
