.faceted-date-widget form {
  margin: 2em;
  margin-top: 0;
}

.faceted-date-widget-form .ui-slider span.ui-slider-label {
  position:relative;
}

.faceted-date-widget-form .ui-state-default,
.faceted-date-widget-form .ui-widget-content .ui-state-default {
  background-image: none;
  background-color: #e9efcd;
  border-color: #95b229;
  border-width: 1px;
  border-style: solid;
  margin: 0;
}

.faceted-date-widget-form .ui-slider {
  border: 1px solid #95b229;
}

.faceted-date-widget-form .ui-slider-tooltip {
  border: 1px solid #aaa;
}

.faceted-date-widget-form .ui-slider-horizontal {
  margin-left:-0.6em;
}

.faceted-date-widget-form .ui-widget-header {
  background-image: none;
  background-color: #e9efcd;
}
