.faceted-checkbox-item-disabled {
  color: gray;
}

.faceted-zero-count-hidden .faceted-checkbox-item-disabled {
  display: none ! important;
}

.widget-fieldset {
}

.widget-fieldset ul {
  margin: 0px;
  list-style: none ! important;
}

.widget-fieldset ul li input {
  clear: both;
  float: left;
}

.widget-fieldset ul li label {
  font-weight: normal;
  padding-left: 0.5em;
}

.faceted-checkbox-more {
  text-align: right;
}

.faceted-checkbox-less {
  text-align: right;
}

/* faceted operator start */
.faceted-operator {
  text-align: right;
  margin-top: -20px;
}

.faceted-operator label {
  font-weight: normal;
}

#content-core .faceted-operator a,
.faceted-operator a,
.faceted-operator a:visited,
.faceted-operator a:hover {
  color: #007bb1;
  border: none;
  text-decoration: none;
}
/* faceted operator end */

#content-core .faceted-checkbox-more a,
.faceted-checkbox-more a {
  border-bottom: none;
}
