.faceted-checkbox-item-disabled {
  color: gray;
}

.faceted-zero-count-hidden .faceted-checkbox-item-disabled {
  display: none ! important;
}

.widget-fieldset {
}

.widget-fieldset ul {
  margin: 0px;
  list-style: none ! important;
}

.widget-fieldset ul li input {
  clear: both;
  float: left;
}

.widget-fieldset ul li label {
  font-weight: normal;
  padding-left: 0.5em;
}

.faceted-checkbox-more {
  text-align: right;
}

.faceted-checkbox-less {
  text-align: right;
}

/* faceted operator start */
.faceted-operator {
  position: relative;
  height: 25px;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
}

.faceted-operator span {
  position: absolute;
  width: 35px;
  height: 25px;
  line-height: 25px;
  color: #8E004D;
  text-align: center;
  background: #fff;
}

.faceted-operator span:after {
  content: attr(label);
}

.faceted-operator input {
  position: absolute;
  margin: 0;
  width: 31px;
  height: 31px;
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10000;
}

.faceted-operator input[type="checkbox"] + span {
  visibility: hidden;
  color: #95b229;
  background: #fff;
}

.faceted-operator input[type="checkbox"] + span:after {
  content: attr(label);
}

.faceted-operator input[type="checkbox"]:checked + span {
  visibility: visible;
}
/* faceted operator end */
