.tags-cloud li {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #007bb1;
}

.tags-cloud li:hover{
  color: orange ! important;
}

.faceted-tag-selected {
  color: orange ! important;
  font-size: 110%;
}
